.tabs-bg-color {
  background-color: rgba(15, 16, 16);
}

.header-bg-color {
  background-color: rgba(38, 38, 43);
}

.wg-heading-color {
  color: rgb(233, 226, 191);
}

.border-wg-header {
  border-color: rgba(38, 38, 43);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
