.tabs-bg-color {
  background-color: rgba(15, 16, 16);
}

.header-bg-color {
  background-color: rgba(38, 38, 43);
}

.wg-heading-color {
  color: rgb(233, 226, 191);
}

.border-wg-header {
  border-color: rgba(38, 38, 43);
}

.border-wg-heading {
  border-color: rgba(233, 226, 191);
}

.text-wg-page {
  color: rgba(28, 28, 30);
}

.bg-wg-mutted {
  background-color: rgba(140, 140, 124);
}

.placeholder-wg-page::placeholder {
  color: rgba(28, 28, 30);
}

.border-wg-crew {
  border-color: rgba(220, 20, 60);
}

.drop-shadow-wg {
  filter: drop-shadow(0 8px 8px crimson);
}

.focus\:ring-wg-accent:focus {
  outline: 2px solid rgba(242, 83, 34);
}

.focus\:bg-wg-heading:focus {
  background-color: rgba(233, 226, 191);
}

.bg-realm {
  display: block;
  opacity: 0.4;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  width: 107px;
  height: 59px;
  background-image: url(./Images/realm.png);
}

.reu {
  background-position: 0 0;
}

.reu:hover {
  opacity: 1;
}

.rna {
  background-position: 0 -295px;
}

.rna:hover {
  opacity: 1;
}

.rasia {
  background-position: 0 -236px;
}

.rasia:hover {
  opacity: 1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
